<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Device</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="deviceSelect">Device</label>
                    <select class="form-control" id="deviceSelect" @bind="selectedDevice">
                        <option>Please select an option</option>
                        @foreach (var device in devices)
                        {
                            <option>@device.Name</option>
                        }                        
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" @onclick="@ModalCancel">Cancel</button>
                <button type="button" class="btn btn-primary" @onclick=@ModalAddDevice>OK</button>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public Operation operation { get; set; }

    [Parameter]
    public List<Device> devices { get; set; }

    [Parameter]
    public string selectedDevice { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    [Parameter]
    public EventCallback<Operation> OnAddDevice { get; set; }

    private string Name { get; set; }
    private string Description { get; set; }

    protected override void OnInitialized() 
    {
        Description = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages...";
    }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private Task ModalAddDevice()
    {
        Device device = devices.FirstOrDefault(m => m.Name == selectedDevice);
        operation.Device = device ;

        return OnAddDevice.InvokeAsync(operation);
    }

}